@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

body, html {
	margin: 0;
	overflow: hidden;
}

img {
	max-width: unset;
}
